openapi: 3.1.0
info:
  title: VerifAI SEC API
  description: AI-powered SEC filing intelligence. Search 20M+ filings, extract sections, analyze risk signals, and stream real-time EDGAR data.
  version: 1.0.0
  contact:
    name: Irora Support
    email: support@irora.ai

servers:
  - url: https://api.irora.ai/verifai-sec/v1
    description: Production
  - url: http://localhost:3456/api
    description: Local development

security:
  - bearerAuth: []

paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns the current health status of the VerifAI SEC service. Use this endpoint for uptime monitoring and connectivity checks.
      tags:
        - System
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  service:
                    type: string
                    example: verifai-sec
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-03-03T12:00:00.000Z"

  /stats:
    get:
      operationId: getStats
      summary: Platform statistics
      description: Returns aggregate platform metrics including total filings indexed, filer coverage, form type count, and processing performance.
      tags:
        - System
      responses:
        "200":
          description: Platform statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformStats"

  /filings/recent:
    get:
      operationId: getRecentFilings
      summary: Recent filings
      description: Returns the 10 most recent SEC filings with metadata including company info, form type, verification status, risk score, and AI-generated summary.
      tags:
        - Filings
      responses:
        "200":
          description: List of recent filings
          content:
            application/json:
              schema:
                type: object
                properties:
                  filings:
                    type: array
                    items:
                      $ref: "#/components/schemas/Filing"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /filings/search:
    get:
      operationId: searchFilings
      summary: Search filings
      description: Search filings by company name, ticker symbol, form type, or content. Returns matching filings with relevance-based ordering.
      tags:
        - Filings
      parameters:
        - name: q
          in: query
          description: Search query. Matches against company name, ticker, form type, and summary text. Case-insensitive.
          required: false
          schema:
            type: string
            example: apple
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                    example: apple
                  total:
                    type: integer
                    example: 2
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/FilingSearchResult"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /forms:
    get:
      operationId: getFormTypes
      summary: Form type categories
      description: Returns the full reference list of 400+ SEC form types organized into 8 categories. Use this to understand which forms are available and what they contain.
      tags:
        - Reference
      responses:
        "200":
          description: Form type categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: "#/components/schemas/FormCategory"

  /products:
    get:
      operationId: getProducts
      summary: API product suite
      description: Returns the full catalog of 34 available APIs organized by category, including endpoint paths and descriptions.
      tags:
        - Reference
      responses:
        "200":
          description: API product catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  apis:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiCategory"

  /pricing:
    get:
      operationId: getPricing
      summary: Pricing tiers
      description: Returns subscription tier details including pricing, features, rate limits, and bandwidth allowances.
      tags:
        - Reference
      security: []
      responses:
        "200":
          description: Pricing information
          content:
            application/json:
              schema:
                type: object
                properties:
                  tiers:
                    type: array
                    items:
                      $ref: "#/components/schemas/PricingTier"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "API key passed as a Bearer token. Get your key at https://irora.ai/keys"

  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: unauthorized
                  message:
                    type: string
                    example: Missing or invalid API key
                  status:
                    type: integer
                    example: 401

  schemas:
    PlatformStats:
      type: object
      properties:
        totalFilings:
          type: integer
          description: Total SEC filings indexed
          example: 20000000
        totalExhibits:
          type: integer
          description: Total exhibits indexed
          example: 100000000
        totalFilers:
          type: integer
          description: Unique filing entities tracked
          example: 800000
        formTypes:
          type: integer
          description: Number of distinct form types
          example: 400
        historicalYears:
          type: integer
          description: Years of historical data
          example: 30
        indexingLatency:
          type: string
          description: Average time from EDGAR publication to index
          example: "<300ms"
        fullTextCoverage:
          type: string
          description: Full-text search date range
          example: "2001-present"
        xbrlCoverage:
          type: string
          description: XBRL data date range
          example: "2005-present"
        anomaliesDetected:
          type: integer
          description: Total anomalies flagged by AI
          example: 14827
        companiesTracked:
          type: integer
          description: Companies under active monitoring
          example: 4200
        avgProcessingTime:
          type: string
          description: Average filing processing time
          example: "2.3s"

    Filing:
      type: object
      properties:
        id:
          type: integer
          example: 1
        company:
          type: string
          example: Apple Inc.
        ticker:
          type: string
          example: AAPL
        cik:
          type: string
          description: SEC Central Index Key
          example: "0000320193"
        form:
          type: string
          description: SEC form type code
          example: 10-K
        filed:
          type: string
          format: date
          example: "2026-01-31"
        periodOfReport:
          type: string
          format: date
          example: "2025-09-28"
        status:
          type: string
          enum: [verified, flagged, pending]
          description: "AI verification status: verified (clean), flagged (anomalies detected), pending (processing)"
          example: verified
        riskScore:
          type: integer
          minimum: 0
          maximum: 100
          description: AI-generated risk score. Higher values indicate more risk flags.
          example: 12
        sections:
          type: integer
          description: Number of extractable sections
          example: 21
        summary:
          type: string
          description: AI-generated filing summary
          example: "Annual report showing 8.2% YoY revenue growth. No material restatements."

    FilingSearchResult:
      type: object
      properties:
        company:
          type: string
          example: Apple Inc.
        ticker:
          type: string
          example: AAPL
        cik:
          type: string
          example: "0000320193"
        form:
          type: string
          example: 10-K
        filed:
          type: string
          format: date
          example: "2026-01-31"
        summary:
          type: string
          example: "Annual report. Revenue $412B (+8.2% YoY). Services segment $96B. 21 extractable sections."

    FormCategory:
      type: object
      properties:
        name:
          type: string
          example: Annual & Quarterly Reports
        forms:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                example: 10-K
              description:
                type: string
                example: Annual report
              sections:
                type: integer
                example: 21

    ApiCategory:
      type: object
      properties:
        category:
          type: string
          example: Core Filing APIs
        products:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: Query API
              description:
                type: string
                example: "Search/filter 20M+ filings since 1993 with 20+ parameters"
              endpoint:
                type: string
                example: "POST /api/query"

    PricingTier:
      type: object
      properties:
        name:
          type: string
          example: Personal
        monthlyPrice:
          type: integer
          nullable: true
          example: 55
        annualPrice:
          type: integer
          nullable: true
          example: 49
        target:
          type: string
          example: Startups & Researchers
        features:
          type: array
          items:
            type: string
          example:
            - "1993-present (30+ years)"
            - "All 400+ form types"
            - "800,000+ filers"
            - "20M+ filings"
        rateLimits:
          type: object
          additionalProperties:
            type: string
          example:
            query: "20/sec"
            fullText: "10/sec"
            extractor: "10/sec"
        bandwidth:
          type: string
          example: "50 GB/mo ($0.30/GB overage)"
        cta:
          type: string
          example: Start Free Trial
